/*----FONTS----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/*----NORMALIZE----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/back.svg');
    background-repeat: repeat;
    background-size: cover;
}

img{
    width: 22px;
}

/*----MAIN----*/

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: rgba( 0, 0, 0, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
}

.connections{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.connect{
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.connect:hover{
    box-shadow: 0 0 5px rgba(204, 204, 204, 0.442);
    transform: scale(1.025);
    transition: 500ms;
}

.inputs{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.inputs input{
    width: 300px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181820;
}

input:focus{
    outline: 0;
    padding-left: 10px;
    transition: 500ms;    
}

input::placeholder{
    padding-left: 10px;
    font-weight: 600;
    color: white;
}

.submit button{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background: rgb(178,75,208);
    background: linear-gradient(25deg, rgba(178,75,208,1) 0%, rgba(214,114,160,1) 44%, rgba(254,153,127,1) 100%);
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
}

.create-account{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    gap: 6px;
}

#pgray{
    color: rgb(165, 165, 165);
}

/*----FOOTER----*/

/*----@MEDIAS----*/